@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  /* --background-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-rgb))
    )
    rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-columns {
  display: flex;
  justify-content: space-between;
}

.container-left, .container-right {
  width: 48%; /* Adjust the width to fit your design */
}

.fig-table-caption {
  font-size: 14px; 
  color: #555; 
  text-align: center; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  padding: 5px; 
}

.fig-table-caption div {
  margin: 0 auto; 
  display: inline-block; 
}

.DBTLtitle p {
  margin-left: 4rem;
  font-size: 2rem;
  margin-bottom: 2px;
  border-bottom: 4px solid #0068b7;
}

details {
  background-color: #f0f8ff;
  border: 2px solid #a3bce2;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  margin: 1.4rem 0;
}

details[open] {
  background-color: #f0f8ff;
}

details summary {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

details summary:hover {
  color: #0068b7;
}

.details-content {
  padding: 10px;
  font-size: 1rem;
  border-top: 1px solid #0068b7;
}  

.icon {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  z-index: 3;
}
